$col-text-primary: #323232; //brainflix-black
$col-text-secondary: #AFAFAF; // silver
$col-cta-primary: #0095FF; // brainflix-blue
$col-cta-hover: #0065AD; // brainflix-darkblue
$col-background: white;
$col-player-components: black;
$col-divider-line: #E1E1E1; // mercury
$col-form-field: #FAFAFA; // alabaster
$col-form-error: #D22D2d;