/* 
* common spacing per styleguide
* assumed 16px default font size
*/

$space-mobile-between: 1rem;
$space-mobile-prehead: 1.5rem;
$space-mobile-posthead: 1rem;

$space-tablet-between: 1.5rem;
$space-tablet-prehead: 2.25rem;
$space-tablet-posthead: 1.5rem;

$space-desktop-sides: 8.1rem;

$padding-tablet-button: 2rem;


