@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.comments {
    &__content {
        display: flex;
        flex-flow: column nowrap;
    }
    &__meta {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: $space-mobile-between;

        @include tablet-query {
            margin-bottom: 0.3rem;
        }
    }
    &__author {
        font-weight: 600;
    }
    &__date {
        color: $col-text-secondary;
    }
    &__deleteButton {

        align-self: flex-end;

        margin-top: 0.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 4px;

        font-family: "AvenirNext";
        background-color: $col-cta-primary;
        color: white;

        &:hover {
            background-color: $col-cta-hover;
        }

    }
}
