@use '../styles/partials/variables' as *;
@use '../styles/partials/colors' as *;
@use '../styles/partials/mixins' as *;

.comments {

    &__count {
      font-weight: 600;
      text-transform: capitalize;
    }
    &__wrapper {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
  
      padding: $space-mobile-between 0;
      border-bottom: 2px solid $col-divider-line;
    }
    &__content {
      padding-left: $space-mobile-between;
      width: 100%;
    }
    &__image {
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      background-color: $col-divider-line;
      object-fit:cover;
  
      &--form {
        margin-top: 1.1rem;
      }
    }
    &__form-subtitle {
      color: $col-text-secondary;
      text-transform: uppercase;
      font-weight: 600;
      
      margin-bottom: 0.1rem;
    }
    &__form-wrapper {
      display: flex;
      flex-flow: column nowrap;
      gap: $space-mobile-between;
  
    }
    &__text-field {
      outline:none;
      border: 2px solid $col-divider-line;
      border-radius: 0.25rem;
  
      background-color: $col-form-field;
  
      min-height: 6rem;
      padding: 0.75rem;
    }
    &__button {
      width: 100%;
      background-image: url('../assets/icons/add_comment.svg');
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position-x: 0.7rem;
      background-position-y: 0.6rem;
  
      &:hover {
        background-color: $col-cta-hover;
      }
    }
    &__meta {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: $space-mobile-between;
    }
    &__author {
      font-weight: 600;
    }
    &__date {
      color: $col-text-secondary;
    }
  }