@use '../styles/partials/colors' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;

.video {
    &__player {
      width: 100%;
      height: 56vw;
      background-color: black;

      @include tablet-query {
        height: 25rem;
      }

      @include desktop-query {
        height: 30.5rem;
      }
    }
  }