@use '../styles/partials/variables' as *;
@use '../styles/partials/colors' as *;
@use '../styles/partials/mixins' as *;

.videoList {
    &__subtitle {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.75rem;
      color: $col-text-secondary;
      margin: $space-tablet-posthead 0;
    }
    
    &__wrapper {
      list-style:none;
      display: flex;
      flex-flow: column nowrap;
      gap: $space-mobile-between;

      @include tablet-query {
        gap: $space-tablet-between;
      }
    }
  
}