@use 'styles/partials/colors' as *;
@use 'styles/partials/variables' as *;
@use 'styles/partials/fonts';
@use 'styles/partials/mixins' as *;

* {
  box-sizing: border-box;
  padding: 0; // If i put this in body, then h1 had top margin for some reason
  margin: 0;
}
body {
  font-family: "AvenirNext", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet-query {
    font-size: 2.06rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: normal;
  color: $col-text-primary;
  @include tablet-query {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.button {
  border: 0;
  border-radius: 0.25rem;
  color: $col-background;
  background-color: $col-cta-primary;

  height: 2.5rem;

  text-transform: uppercase;
  font-family: "AvenirNext";
  font-size: 0.75rem; //0.625rem;
  //line-height: 1.5rem;
  font-weight: 600;

  &:hover{
    background-color: $col-cta-hover;
  }
}
.header {
  display: flex;
  flex-flow: row wrap;
  gap: $space-mobile-between;
  justify-content: center;
  align-content: space-evenly;

  padding: $space-mobile-between;

  &__logo-wrapper {
    width: 100%;
    text-align: center;
  }
  &__logo {
    //
  }
  &__search {
    width: 50%;
    flex-grow: 1;

    border: 1px solid $col-divider-line;
    border-radius: 0.25rem;

    padding: 0.75rem;
    padding-left: 2rem;

    background-image: url(./assets/icons/search.svg);
    background-repeat: no-repeat;  
    background-position: 0.5rem;
    background-size: 1rem;
    background-color: $col-form-field;

    font-family: 'AvenirNext';
    font-size: 0.75rem;
    font-weight: normal;
    color: $col-text-primary;
  
    &:focus {
      border:2px solid $col-cta-primary;
      outline: none; // Removes chrome's automatic outline on focused input fields
    }
  }
  &__user-image {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    object-fit:cover;
  }
  &__button {
    width: 100%;
    position: relative;

    &-icon {
      position: absolute;
      left: 0.5rem;
      top: 0.6rem;
      height: 1.35rem;
    }
  }

}

.video {

  &__player {
    width: 100%;
  }
}

.flex-wrapper {
  // border: 1px solid red;
  padding: $space-mobile-between;
}
main {

}
.description {
  // border: 1px solid orange;
  &__title {
    font-weight: 600;
    padding-bottom: $space-mobile-between;
    border-bottom: 2px solid $col-divider-line;
  }

  &__credits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: $space-mobile-between;

    padding: $space-mobile-between 0;
    border-bottom: 2px solid $col-divider-line;
  }
  &__author {
    width: 40%;
    font-weight: 600;
  }
  &__views {
    width: 9rem;
    color: $col-text-secondary;
    &-icon {
      vertical-align:text-bottom;
      margin-right: 0.5rem;      
    }
  }
  &__date {
    width: 40%;
    color: $col-text-secondary;
  }
  &__likes {
    width: 9rem;
    color: $col-text-secondary;

    &-icon {
      vertical-align: text-bottom;
      margin-right: 0.5rem;      
      
    }
    // &-icon::after {
    //   content: 'blah';
    //   font-weight: bold;
    //   font-size: 2rem;
    // }
  }

  &__body {
    padding: $space-mobile-between 0;
  }
}


.comments {

  &__count {
    font-weight: 600;
    text-transform: capitalize;
  }
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;

    padding: $space-mobile-between 0;
    border-bottom: 2px solid $col-divider-line;
  }
  &__content {
    padding-left: $space-mobile-between;
    width: 100%;
  }
  &__image {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: $col-divider-line;
    object-fit:cover;

    &--form {
      margin-top: 1.1rem;
    }
  }
  &__form-subtitle {
    color: $col-text-secondary;
    text-transform: uppercase;
    font-weight: 600;
    
    margin-bottom: 0.1rem;
  }
  &__form-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: $space-mobile-between;

  }
  &__text-field {
    outline:none;
    border: 2px solid $col-divider-line;
    border-radius: 0.25rem;

    background-color: $col-form-field;

    min-height: 6rem;
    padding: 0.75rem;
  }
  &__button {
    width: 100%;
    background-image: url('./assets/icons/add_comment.svg');
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position-x: 0.7rem;
    background-position-y: 0.6rem;

    &:hover {
      background-color: $col-cta-hover;
    }
  }
  &__meta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: $space-mobile-between;
  }
  &__author {
    font-weight: 600;
  }
  &__date {
    color: $col-text-secondary;
  }
}

.videoList {
  &__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    color: $col-text-secondary;
    margin: $space-mobile-posthead 0;

  }
  
  &__wrapper {
    list-style:none;
    
    display: flex;
    flex-flow: column nowrap;
    gap: $space-mobile-between;
  }
  &__item {
    display: flex;
    flex-flow: row nowrap;
    gap: $space-mobile-between;

  }
  &__thumb {
    min-width: 6.6rem;
    height: 3.7rem;
    border-radius: 4px;
    object-fit: cover;
  }
  &__copy {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  &__videotitle {
    font-weight: 600;
  }

}