@use 'styles/partials/colors' as *;
@use 'styles/partials/variables' as *;
@use 'styles/partials/fonts';
@use 'styles/partials/mixins' as *;

* {
  box-sizing: border-box;
  padding: 0; // If i put this in body, then h1 had top margin for some reason
  margin: 0;
}
body {
  font-family: "AvenirNext", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet-query {
    font-size: 2.06rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: normal;
  color: $col-text-primary;
  @include tablet-query {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.button {
  border: 0;
  border-radius: 0.25rem;
  color: $col-background;
  background-color: $col-cta-primary;

  height: 2.5rem;

  text-transform: uppercase;
  font-family: "AvenirNext";
  font-size: 0.75rem; //0.625rem;
  //line-height: 1.5rem;
  font-weight: 600;

  &:hover{
    background-color: $col-cta-hover;
  }
}
.header {
  display: flex;
  flex-flow: row wrap;
  gap: $space-mobile-between;
  justify-content: center;
  align-content: space-evenly;

  padding: $space-mobile-between;

  &__logo-wrapper {
    width: 100%;
    text-align: center;
  }
  &__logo {
    //
  }
  &__search {
    width: 50%;
    flex-grow: 1;

    border: 1px solid $col-divider-line;
    border-radius: 0.25rem;

    padding: 0.75rem;
    padding-left: 2rem;

    background-image: url(./assets/icons/search.svg);
    background-repeat: no-repeat;  
    background-position: 0.5rem;
    background-size: 1rem;
    background-color: $col-form-field;

    font-family: 'AvenirNext';
    font-size: 0.75rem;
    font-weight: normal;
    color: $col-text-primary;
  
    &:focus {
      border:2px solid $col-cta-primary;
      outline: none; // Removes chrome's automatic outline on focused input fields
    }
  }
  &__user-image {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    object-fit:cover;
  }
  &__button {
    width: 100%;
    position: relative;

    &-icon {
      position: absolute;
      left: 0.5rem;
      top: 0.6rem;
      height: 1.35rem;
    }
  }

}

.video {

  &__player {
    width: 100%;
  }
}

.flex-wrapper {
  // border: 1px solid red;
  padding: $space-mobile-between;
}
main {

}
.description {
  // border: 1px solid orange;
  &__title {
    // border: 1px solid blue;
    // margin: 0;
  }
}